<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <div class="card-columns">
    {% for item in all_items %}
    <div class="card bg-primary" style="width:400px">
        <img class="card-img-top" src="{{item.image.url}}" alt="Card image">
        <div class="card-body">
            <p class="card-text">{{item}}</p>
        </div>
    </div>
    {% endfor %}
    </div>
</head>



</html>