<!DOCTYPE html>
<html>
<head>
    <script src="{{ STATIC_URL }} /static/jquery-3.3.1.js"></script>
    <script src="{{ STATIC_URL }} /static/formValidation.js"></script>
</head>
<body>

    <form action= '/files/save/', method="post" enctype="multipart/form-data" id="form">
        {%csrf_token%}
        Select image to upload:
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="button" value="Upload" name="submitButton" id="submitButton">
        <br>
        <p>Select which item you want to upload image for:</p>
        <select name="item_id">
            {% for item in all_items %}
            <option value="{{ item.subhead }}">{{ item.subhead }}</option>
            {% endfor %}
        </select>
    </form>

</body>

</html>